body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

.wrapper{
    width: 900px;
    margin: auto;
    overflow: hidden;
}
header{
    padding: 10px 0;
    box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.589);
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;

}
.logo{
    width: 20%;
    float: left;

}

nav{
    width: 80%;
    float: left;

}
nav ul{
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;


}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: #3b506c;
    font-weight: 600x;
    padding: 10px 20px;
    display: block;
    font-size: 18px;
}

/* banner section */
.banner-section{
    padding: 130px 0 20px 0;
    text-align: center;

}
.banner-section h1{
    font-size: 60px;
    color: #3b506c
}
.banner-section h1 span{
    color: blue;
}

.banner-section p{
    font-size: 20px;
    color: #3b506c;
    margin: -40px 0px 0px 0px;
}
/* ====imege section */
.main-imege{
    margin: 40px 0px;
}
.main-imege img{
    width: 550px;
    margin: auto;
    display: block;}

/* ====feature section=== */

.feature section{
    padding: 50px 0;
}
.column{
    width: 50%;
    float: left;
}
.feature{
    padding: 26px;

}
.feature h2{
    font-size: 56px;
    color: #3b506c;
    text-transform: capitalize;
}
.feature p{
    color: #3b506c;
}
.feature span{
    color: rgba(255, 0, 0, 0.692);
}
.text-align{
    text-align: right;
}

/* Blog section */
.blog section{
    margin-bottom: 50px;

}

.col{
    width: 33%;
    float: left;
    box-sizing: border-box;
    padding: 12px;
}
.blog{
    padding: 20px;
    border-radius: 5px;
    color: #3b506c;
}
.blog img{
    max-width: 100%;
    height: 200px;
}
.blog h3 {
    font-size: 23px;
}

.red{
    background-color: rgba(255, 0, 0, 0.247);
}
.green{
    background-color: rgba(0, 128, 0, 0.253);
}
.yellow{
    background-color: rgba(255, 255, 0, 0.226);
}

/* footer section */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.233);
}
.footer ul{}

.footer ul li{
    list-style: none;

}

